<a href="https://colab.research.google.com/github/vladimiralencar/jupyter/blob/master/ENEM_V_05_dia_17_abril_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ENEM dados 2019

In [1]:
# Referencia
# https://www.linkedin.com/pulse/how-do-i-read-csv-file-from-google-drive-using-python-sigmundo/

In [2]:
# https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/enem
# https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92#:~:text=2)%20From%20a%20local%20drive&text=Click%20on%20%E2%80%9CChoose%20Files%E2%80%9D%20then,name%20of%20the%20uploaded%20file).
#

In [3]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [5]:
# autoriza√ßao
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
drive

In [6]:
shared_link = 'https://drive.google.com/file/d/1jzut5bEZ-JoBmY9py2u8BG7XXZqmLPsk/view?usp=sharing'

id = '1jzut5bEZ-JoBmY9py2u8BG7XXZqmLPsk'

In [14]:
sl = (shared_link.split('/view')[0]).split('d/')[1]
sl

'1jzut5bEZ-JoBmY9py2u8BG7XXZqmLPsk'

In [15]:
%%time

file_id = id
downloaded = drive.CreateFile({'id': file_id})
#downloaded = drive.CreateFile({'id':'1BH-rffqv_1auzO7tdubfaOwXzf278vJK'}) # replace the id with id of file you want to access
file = 'enem-2019.csv'
downloaded.GetContentFile(file)

CPU times: user 11.1 s, sys: 2.56 s, total: 13.6 s
Wall time: 32.8 s

In [18]:
%%time
# Read file as panda dataframe
import pandas as pd
df = pd.read_csv(file) 
len(df)

CPU times: user 30.9 s, sys: 5.51 s, total: 36.4 s
Wall time: 36.3 s

In [9]:
df.head()

   NU_INSCRICAO  NU_ANO  ...  NU_NOTA_COMP5 NU_NOTA_REDACAO
0  190001004627    2019  ...          160.0           780.0
1  190001004628    2019  ...          120.0           600.0
2  190001004629    2019  ...          120.0           640.0
3  190001004630    2019  ...            NaN             NaN
4  190001004631    2019  ...            NaN             NaN

[5 rows x 103 columns]

In [ ]:
len(df)

In [ ]:
df.info()

# An√°lises do ENEM Ano 2019

In [ ]:
df.head()

In [ ]:
len(df.columns)

In [ ]:
df.TP_COR_RACA.value_counts()

In [ ]:
l = [ 'N√£o declarado',
      'Branca',
      'Preta',
      'Parda',
      'Amarela',
      'Ind√≠gena' 
]
l

In [ ]:
d = df.TP_COR_RACA.value_counts()
d

In [ ]:
type(d)

In [ ]:
dd = d.to_frame()
dd

In [ ]:
ind = dd.index.values
ind

In [ ]:
dd['cod'] = ind
dd

In [ ]:
l

In [ ]:
dict = {'N√£o declarado': 0 , 'Branca': 1, 'Preta': 2, 'Parda': 3, 'Amarela': 4, 'Ind√≠gena': 5}

In [ ]:
d2 =  pd.DataFrame( {'codigo' : range(6), 'raca': l }) 
d2

In [ ]:
d3 = pd.merge(dd, d2, how='inner', left_on='cod', right_on='codigo')
d3

In [ ]:
d3.to_csv('enem-por-raca.csv', index=False)
!ls -ilah *.csv

In [ ]:
!cat enem-por-raca.csv

In [ ]:
from google.colab import files
files.download('enem-por-raca.csv')

In [ ]:
import matplotlib.pyplot as plt

# Pie chart, where the slices will be ordered and plotted counter-clockwise:
labels = d3.raca
sizes = d3.TP_COR_RACA
explode = (0, 0.1, 0, 0.1, 0, 0.1)  # only "explode" the 2nd slice (i.e. 'Hogs')

fig1, ax1 = plt.subplots(figsize=(12,8))

plt.figure(figsize=(12,8)) 
ax1.pie(sizes, explode=explode, labels=labels, autopct='%1.1f%%',
        shadow=True, startangle=90)
ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.

plt.show()

In [ ]:
atributos = [
 'UF_RESIDENCIA',
 'IDADE',
 'TP_SEXO',
 'NACIONALIDADE',
 'NO_MUNICIPIO_NASCIMENTO',
 'UF_NASCIMENTO',
 'ST_CONCLUSAO',
 'ANO_CONCLUIU',
 'TP_ESCOLA',
 'TP_ESTADO_CIVIL',
 'UF_PROVA',
 'NOTA_CN',
 'NOTA_CH',
 'NOTA_LC',
 'NOTA_MT',
 'TP_LINGUA',
 'IN_STATUS_REDACAO',
 'NU_NOTA_COMP1',
 'NU_NOTA_COMP2',
 'NU_NOTA_COMP3',
 'NU_NOTA_COMP4',
 'NU_NOTA_COMP5',
'NU_NOTA_REDACAO']

import numpy as np
tipos_de_dados = {'IDADE': np.float16,
        'NACIONALIDADE': np.int16,
        'ST_CONCLUSAO':  np.int16,
        'ANO_CONCLUIU': np.float32, 
        'TP_ESCOLA': np.float32, 
        'TP_ESTADO_CIVIL': np.int16,
        'NOTA_CN':np.float32, 
        'NOTA_CH': np.float32, 
        'NOTA_LC': np.float32, 
        'NOTA_MT': np.float32,                                     
        'NU_NOTA_COMP1': np.int32,
        'NU_NOTA_COMP2': np.int32,             
        'NU_NOTA_COMP3': np.int32,            
        'NU_NOTA_COMP4': np.int32,            
        'NU_NOTA_COMP5': np.int32
}

In [ ]:
#%%time
#import pandas as pd
#file = url
#folder = '/Users/vladimiralencar/Downloads/microdados_enem2014/DADOS/'

#df = pd.read_csv(folder + file, encoding='latin-1', usecols=atributos, dtype=tipos_de_dados)
#df = pd.read_csv(url+ file, encoding='latin-1', delimiter=';') #, usecols=atributos, dtype=tipos_de_dados)
#len(df)

In [ ]:
df.info()

In [ ]:
print(list(df.columns))

In [ ]:
len(df.columns)

In [ ]:
pd.set_option('display.max_columns', 500)

df10 = df.copy()
#df10 = df [atributos]
#del df
df10.head()

In [ ]:
len(df10.NO_MUNICIPIO_RESIDENCIA.unique())

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format
df10.NU_IDADE.describe()

In [ ]:
import seaborn as sns
sns.distplot(df10.NU_IDADE)

In [ ]:
df10.NU_IDADE.describe()

In [ ]:
# Fatiar o dataset
df2 = df10[ df10.NU_IDADE >= 40]
len(df2)

In [ ]:
len(df2) / len(df10) * 100

In [ ]:
%%time
df3 = df2[ df2.NU_IDADE >= 80]
len(df3)

In [ ]:
df3.head(10)

In [ ]:
# Idades >80 por Estado
df3.SG_UF_RESIDENCIA.value_counts()

In [ ]:
# Fatiar o dataset
df16 = df10[ df10.NU_IDADE <= 16]
len(df16)

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format
df16.SG_UF_RESIDENCIA.value_counts()

In [ ]:
len(df11),  df11.NU_IDADE.min(), df11.NU_IDADE.max()

In [ ]:
len(df10)

In [ ]:
df10.NU_IDADE.min(), df10.NU_IDADE.mean(), df10.NU_IDADE.max(),

# An√°lise Descritiva

In [ ]:
%%time
pd.set_option('display.max_columns', 500)
df12 = df10.dropna(subset=['NU_NOTA_REDACAO'])
print(len(df12), len(df10))

In [ ]:
%%time
import seaborn as sns
sns.distplot(df12['NU_NOTA_REDACAO'])

In [ ]:
(df12['NU_NOTA_REDACAO'] <= 0).sum()

In [ ]:
(df12['NU_NOTA_REDACAO'] >= 1000).sum()

In [ ]:
df13 = df12[ df12['NU_NOTA_REDACAO'] >= 1000]
df13

In [ ]:
dg = df13.groupby(['SG_UF_RESIDENCIA'])['NU_NOTA_REDACAO'].agg(['count']).sort_values(by='count', ascending=False)

In [ ]:
dg = dg.reset_index() 
dg

In [ ]:
df10.head()

In [ ]:
df10.TP_SEXO.value_counts()

In [ ]:
 3031822 / (3031822 + 2063448) # 59.5 % de alunos do sexo feminino

In [ ]:
df10.columns

In [ ]:
atributos = list(df10.columns.values)
print(atributos)

In [ ]:
atributos_compactado = ['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'CO_MUNICIPIO_NASCIMENTO', 'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL', 'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE', 'IN_LACTANTE', 'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_TEMPO_ADICIONAL', 'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS', 'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE', 'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO', 'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO', 'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE', 'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA', 'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL', 'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO', 'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA', 
                        'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 
                        'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
                         'TP_LINGUA',  'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 
                        'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO']

In [ ]:
dfc.head()

In [ ]:
%%time
dfc = df10[atributos_compactado]
dfc.info()

In [ ]:
%%time
dfc.to_csv('enem-2019.csv', index=False)
!ls -ilah

In [ ]:
# Dataset ENEM: https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/enem

In [ ]:
dg.loc[-1] = ["BA", 0] 
dg.index = dg.index + 1  # shifting index
dg = dg.sort_index()  # sorting by index
dg

In [ ]:
dg.to_csv('Nota_redacao_1000.csv', index=False)

In [ ]:
!ls

In [ ]:
import numpy as np
np.set_printoptions(suppress=True, precision=5)
pd.options.display.float_format = '{:,.2f}'.format
df12['NU_NOTA_REDACAO'].describe()

In [ ]:
print(list(df12.columns))

In [ ]:
df12['NU_NOTA_REDACAO'].min(), df12['NU_NOTA_REDACAO'].mean(), df12['NU_NOTA_REDACAO'].max()

In [ ]:
%%time
# quem tirou acima da m√©dia na reda√ß√£o
df2 = df12 [ df12['NU_NOTA_REDACAO'] > df12['NU_NOTA_REDACAO'].mean() ]
len(df2)

In [ ]:
%%time
dfn = df12 [ df12['NU_NOTA_REDACAO'] <= 0. ]
dfn.head()

In [ ]:
len(dfn)

In [ ]:
dfn.NO_MUNICIPIO_NASCIMENTO.value_counts()[:30]

In [ ]:
df10.TP_ESCOLA.value_counts()

In [ ]:
df.NO_MUNICIPIO_RESIDENCIA.value_counts()[:40]

In [ ]:
df.SG_UF_RESIDENCIA.value_counts()

In [ ]:
dfuf = df10.SG_UF_RESIDENCIA.value_counts()
dfuf = dfuf.reset_index()
dfuf.rename(columns={'index':'UF', 'UF_RESIDENCIA': 'NumInscritos' }, inplace=True)
dfuf.head()

In [ ]:
dfuf.to_csv('alunosuf.csv', index=False)

In [ ]:
df2 = df10.groupby(['SG_UF_RESIDENCIA', 'TP_SEXO'])['NU_NOTA_REDACAO'].agg(['mean']).sort_values(by='mean', ascending=False)
df2 = df2.reset_index()
df2.head(20)

In [ ]:
df3 = df2.copy()
df3.rename(columns={'mean': 'Media'}, inplace=True)
df3.head(15)

In [ ]:
df4 = df3.groupby(['SG_UF_RESIDENCIA'])['Media'].agg(['mean'])
df4 = df4.reset_index()
df4.sort_values(by='mean', ascending=False).reset_index()

In [ ]:
tipo_prova = 'NU_NOTA_MT'
df2 = df.groupby(['SG_UF_RESIDENCIA', 'TP_SEXO'])[tipo_prova].agg(['mean']).sort_values(by='mean', ascending=False)
df2 = df2.reset_index()
df2.head(20)

In [ ]:
tipo_prova = 'NU_NOTA_CH'
df2 = df.groupby(['SG_UF_RESIDENCIA', 'TP_SEXO'])[tipo_prova].agg(['mean']).sort_values(by='mean', ascending=False)
df2 = df2.reset_index()
df2.head(20)

In [ ]:
df2.head(20)

In [ ]:
!ls

In [ ]:
list(df.columns)

In [ ]:
folder = 'DADOS/'
dfuf = pd.read_excel(folder + 'UF.xlsx')
dfuf.head()

In [ ]:
folder = 'DADOS/'
dfregioes = pd.read_csv(folder + "Regioes.csv")
dfregioes

In [ ]:
df2.head()

In [ ]:
dfregioes.head()

In [ ]:
df3 = pd.merge(df2, dfregioes, left_on=['SG_UF_RESIDENCIA'], right_on=['UF_RESIDENCIA'] ) 
df3.head()

In [ ]:
df4 = df3.groupby(['Regi√£o', 'TP_SEXO'])['mean'].agg(['sum','mean']).sort_values(by='mean', ascending=False)
df4 = df4.reset_index()
df4

In [ ]:
#df2.to_csv('nota_redacao_enem_Sexo.csv', index=False)
df4.to_csv('enem_redacao_enem_Sexo_regioes.csv', index=False)

In [ ]:
df.head()

In [ ]:
df3 = df12.groupby(['SG_UF_RESIDENCIA', 'TP_SEXO'])['NU_NOTA_REDACAO'].agg(['mean']).sort_values(by='mean', ascending=False)
df3 = df3.reset_index()
df3.head()

In [ ]:
df.info()

In [ ]:
df4 = df3.SG_UF_RESIDENCIA
#df4.to_excel('UF.xlsx')
df4.head()

In [ ]:
!ls

# Agora usar o tableau para plotagem de mapas e gr√°ficos
https://public.tableau.com/pt-br/s/